constraints: GLURaw ==2.0.0.2,
             GLUT ==2.7.0.10,
             ObjectName ==1.1.0.1,
             OpenGL ==3.0.1.0,
             OpenGLRaw ==3.2.4.0,
             QuickCheck ==2.9.2,
             StateVar ==1.1.0.4,
             adjunctions ==4.3,
             array ==0.5.1.1,
             base ==4.9.0.0,
             base-orphans ==0.5.4,
             bifunctors ==5.4.1,
             binary ==0.8.3.0,
             bytes ==0.15.2,
             bytestring ==0.10.8.1,
             cereal ==0.5.4.0,
             comonad ==5,
             containers ==0.5.7.1,
             contravariant ==1.4,
             deepseq ==1.4.2.0,
             distributive ==0.5.0.2,
             exceptions ==0.8.3,
             filepath ==1.4.1.0,
             fixed ==0.2.1.1,
             free ==4.12.4,
             ghc-boot-th ==8.0.1,
             ghc-prim ==0.5.0.0,
             half ==0.2.2.3,
             hashable ==1.2.4.0,
             integer-gmp ==1.0.0.1,
             kan-extensions ==5.0.1,
             lens ==4.14,
             linear ==1.20.5,
             mtl ==2.2.1,
             parallel ==3.2.1.0,
             prelude-extras ==0.4.0.3,
             pretty ==1.1.3.3,
             primitive ==0.6.1.0,
             profunctors ==5.2,
             random ==1.1,
             reflection ==2.1.2,
             rts ==1.0,
             scientific ==0.3.4.9,
             semigroupoids ==5.1,
             semigroups ==0.18.2,
             split ==0.2.3.1,
             stm ==2.4.4.1,
             tagged ==0.8.5,
             template-haskell ==2.11.0.0,
             text ==1.2.2.1,
             tf-random ==0.5,
             time ==1.5.0.1,
             transformers ==0.5.2.0,
             transformers-compat ==0.5.1.4,
             unordered-containers ==0.2.7.1,
             vector ==0.11.0.0,
             void ==0.7.1
